[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
serve = "flask run"

[packages]
flask = "*"
requests = "*"
python-dotenv = "*"
waitress = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
